<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.hoteldog.gallery.GalleryMapper">
    <insert id="postGallery" keyProperty="galleryPk" useGeneratedKeys="true">
        INSET INTO t_gallery
        SET user_pk = #{userPk}
            ,gallery_category_pk = #{gallertyCategoryPk}
            ,title = #{title}
            ,contents = #{contents}
    </insert>
    <insert id="postGalleryPics">
        INSERT INTO t_gallery_pics
        (gallery_pk,pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{galleryPk},#{pic})
        </foreach>
    </insert>
    <delete id="delGalleryPics">
        DELETE FROM t_gallery_pics
        WHERE gallery_pk = #{galleryPk}
    </delete>
    <update id="putGallery">
        UPDATE t_gallery
        SET gallery_category_pk = #{galleryCategoryPk}
            ,title = #{title}
            ,contents = #{contents}
        WHERE gallery_pk = #{galleryPk} AND user_pk = #{userPk}
    </update>
    <insert id="postFav">
        INSERT INTO t_gallery_fav
        SET user_pk = #{userPk}
            ,gallery_pk = #{galleryPk}
    </insert>
    <delete id="delFav">
        DELETE FROM t_gallery_fav
        WHERE user_pk = #{userPk} AND gallery_pk = #{galleryPk}
    </delete>
    <delete id="delGallery">
        DELETE FROM t_gallery
        WHERE gallery_pk = #{galleryPk} AND user_pk = #{userPk}
    </delete>
    <insert id="postComment">
        INSERT INTO t_gallery_comment
        SET user_pk = #{userPk}
            ,gallery_pk = #{galleryPk}
            ,comments = #{comments}
    </insert>
    <delete id="delComment">
        DELETE FROM t_gallery_comment
        WHERE comment_pk = #{commentPk} AND user_pk = #{userPk}
    </delete>
    <select id="getGalleryList">
        SELECT A.gallery_pk AS galleryPk
              ,C.user_pk AS userPk
              ,C.nick_name AS nickname
              ,A.title
              ,D.commentsCount
              ,B.favCount
              ,A.created_at AS createdAt
        FROM t_gallery A
        LEFT JOIN (SELECT gallery_pk, count(*) AS favCount
              FROM t_gallery_fav
              GROUP BY gallery_pk) B
        ON A.gallery_pk = B.gallery_pk
        LEFT JOIN (SELECT gallery_pk, count(*) AS commentsCount
              FROM t_gallery_comment
              GROUP BY gallery_pk) C
        ON A.gallery_pk = C.gallery_pk
        JOIN t_user D
        ON A.user_pk = D.user_pk
        <if test="galleryCategoryPk != null and galleryCategoryPk != 0">
            WHERE gallery_category_pk = #{galleryCategoryPk}
        </if>
    </select>
    <select id="getGalleryInfo">
        SELECT A.gallery_pk AS galleryPk
                ,A.title
                ,D.user_pk AS userPk
                ,D.nick_name AS nickname
                ,B.favCount
                ,A.created_at AS createdAt
        FROM t_gallery A
        LEFT JOIN ( SELECT gallery_pk, count(*) AS favCount
                    FROM t_gallery_fav
                    GROUP BY gallery_pk) B
        ON A.gallery_pk = B.gallery_pk
        LEFT JOIN ( SELECT gallery_pk, count(*) AS commentsCount
                    FROM t_gallery_comment
                    GROUP BY gallery_pk) C
        ON A.gallery_pk = C.gallery_pk
        JOIN t_user D
        ON A.user_pk = D.user_pk
        WHERE A.gallery_pk = #{galleryPk}
    </select>
    <select id="selGalleryPics">
        SELECT pic
        FORM t_gallery_pics
        WHERE gallery_pk = #{galleryPk}
    </select>
    <select id="selGalleryComments">
        SELECT A.comment_pk AS commentPk
            ,A.user_pk AS userPk
            ,B.nick_name AS nickname
            ,A.comments
            ,A.created_at AS createdAt
        FROM t_gallery_comment A
        JOIN t_user B
        ON A.user_pk = B.user_pk
        WHERE A.gallery_pk = #{galleryPk}
        LIMIT #{page}, #{rowCount}
    </select>
</mapper>